body{
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
.nav__bar-title{
    color: black;
    font-size: 20px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    font-size: 17px;
    text-indent: 10px;
}
.name{
    color: brown;
}
.number{
    color: blue;
}
.email{
    color: fuchsia;
}
.bg-info{
    width: 100%;
    display: block;
}