body{
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
    background-color: aliceblue;
}
html{
    overflow: hidden;
}
a{
    text-decoration: none;
}
.nav__bar-title{
    color: black;
    font-size: 20px;
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
}
label{
    font-size: 17px;
    text-indent: 10px;
}
.name{
    color: brown;
}
.number{
    color: blue;
}
.email{
    color: fuchsia;
}
.bg-info{
    width: 100%;
    display: block;
}
.toastify{
    width: 350px;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    color: black;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(1,-0.21, 0, 1.01);
    gap: 10px;
    z-index: 9999999;
}
.feather{
    display: inline-block;
}
.slide{
    transform: translateX(200%);
}
.remove{
    transform: translateX(0px);
}
.wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.9);
}
.wrapper-body{
    width: 500px;
    margin: 100px auto;
    padding: 40px;
    background-color: aliceblue;
    position: relative;
}
.wrapper{
    transition: all .4s ease;

}
.close{
    position: absolute;
    right: 20px;
    top: 10px;
}
.close:active{
    box-shadow: 1px 1px 5px blue;
}
.cancel{
    width: 30px;
}
.none{
    transform: translateY(-200%);
}


.nav_site{
    background: rgb(110,149,223);
    background: linear-gradient(90deg, rgba(110,149,223,1) 1%, rgba(81,156,214,1) 29%, rgba(0,212,255,1) 100%);  
}
.nav__site{
    display: flex;
    justify-content: space-between;
}
.nav_bar{
    display: flex;
    gap: 20px;
}
.nav__logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav__bar-title{
    color: aliceblue;
    font-family: monospace;
}
